.chat{
	width: calc(100% - 300px);
	 .header{
	 	box-sizing: border-box;
	 	height: 100px;
	 	padding: 0 40px;
	 		&__left{
	 			float: left;
	 			&__title{
		 			font-size: 20px;
		 			color: #333333;
		 			margin-top: 35px;
	 			}
	 			&__members{
		 			font-size: 12px;
		 			color: $gray;
	 				margin-top: 15px;
	 				.member{
	 					display: inline-block;
	 					padding-right: 5px;
	 				}
	 			}
	 		}
	 		&__right{
	 			float: right;
	 			margin-top: 28px;
	 			padding: 0 20px;
				border: 1px solid $blue;
				line-height: 40px;
				&__botton{
					color: #38AEF0;
					text-decoration: none;
				}
				}
	 		}
	 }

	 .messages{
	 	background-color: #EEEEEE;
	 	padding: 46px 40px 0;
	 	height: calc(100vh - 100px - 90px);
	 	box-sizing: border-box;
	 	overflow: scroll;
	 		.message{
	 			.top-message{
	 				display: flex;
	 				&__user-name{
	 					font-size: $font16;
	 					font-weight: Bold;
	 				}
	 				&__date{
	 					padding-left: 10px;
	 					font-size: 12px;
	 					color: $gray;
	 				}
	 			}

	 			.under-message{
	 				margin-top: 10px;
	 				&__content{
	 					font-size: 14px;
	 					color : $black;
	 					margin-bottom: 40px;
	 				}
	 			}
	 		}
	 }
	.form{
		background-color: #AAAAAA;
		box-sizing: border-box;
		height: 90px;
		padding: 20px 50px 20px 40px;
		&__message{
			height: 50px;
			float: left;
			border: none;
			width: calc(100% - 150px);
			padding-left: 10px;
		}
		&__mask{
			float: left;
			height: 50px;
			padding-right: 10px;
			background-color: $white;
			&__image{
				font-size: 20px;
				line-height: 50px;
			}
			.hidden{
				display: none;
			}
		}
		&__submit{
			float: right;
			height: 50px;
			background-color: $blue;
			margin-left: 0 30px;
			padding: 0 30px;
			border: none;
			color: $white;
			font-size: $font16;
		}
	}
